@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: black;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  align-content: center;

  #add-button {
    margin: 0 auto;
  }

  #boards {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;
    color: white;

    .card {
      width: 300px;
      margin: 5px;
      border-radius: 10px;
    }
  }

  #pins {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;
    color: white;

    .card {
      width: 300px;
      margin: 5px;
      border-radius: 10px;
    }
  }
}

.pinbtns {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  // margin: auto;
  // justify-content: center;
}

// .noPins {
//   display: flex;
//   flex-flow: row wrap;
//   text-align: center;
// }
